@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
  -webkit-appearance: button;
  background: none;
  border: 0;
  cursor: pointer;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

/*
//as backup only
$colorTypes: (
  'gray': ('25':'#FCFCFD','50':'#F9FAFB','100':'#F2F4F7','200':'#E4E7EC','300':'#D0D5DD','400':'#98A2B3','500':'#667085','600':'#475467'),
  'brand': ('25':'#FCFAFF','50':'#F9F5FF','100':'#F4EBFF','200':(color:'#E9D7FE'),'300':(color:'#D6BBFB'),'400':(color:'#B692F6'),'500':(color:'#9E77ED'),'600':(color:'#7F56D9')),
  'error': ('25':(color:'#FFFBFA'),'50':(color:'#FEF3F2'),'100':(color:'#FEE4E2'),'200':(color:'#FECDCA'),'300':(color:'#FDA29B'),'400':(color:'#F97066'),'500':(color:'#F04438'),'600':(color:'#D92D20')),
  'warning': ('25':(color:'#FFFCF5'),'50':(color:'#FFFAEB'),'100':(color:'#FEF0C7'),'200':(color:'#FEDF89'),'300':(color:'#FEC84B'),'400':(color:'#FDB022'),'500':(color:'#F79009'),'600':(color:'#DC6803')),
  'success': ('25':(color:'#F6FEF9'),'50':(color:'#ECFDF3'),'100':(color:'#DCFAE6'),'200':(color:'#ABEFC6'),'300':(color:'#75E0A7'),'400':(color:'#47CD89'),'500':(color:'#17B26A'),'600':(color:'#079455')),
);
*/
:root {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.title-1 {
  color: #B692F6;
}

.title-2 {
  color: #DC6803;
}

.title-3 {
  color: #F04438;
}

.title-5 {
  color: #475467;
}